<div class="landing-page">

  <div class="landing-page__section">
    <div class="landing-page__title">myFund</div>
    <div class="landing-page__description">My Fund is a comprehensive financial management application designed to help
      users track and manage their finances efficiently. Built with Angular 17 for the frontend, Java 17 and Spring Boot
      3 for the backend, and MySQL for data storage, this application offers a robust platform for personal finance
      management. Whether you're looking to monitor your spending, create budgets, or track investments, My Fund
      provides the tools you need to take control of your financial health.
    </div>
  </div>

  <div class="landing-page__section landing-page__sign-in">

    <p-button label="Sign In"  severity="secondary"></p-button>

  </div>
</div>
