<div id="main-content" class=" bg-gray-50 lg:ml-64">
  <main>
    <div>
      <div class="pt:mt-0 mx-auto flex flex-col items-center justify-center px-6 pt-8 md:h-screen">
        <div class="w-full rounded-lg bg-white shadow sm:max-w-screen-sm md:mt-0 xl:p-0">
          <div class="space-sy-8 p-6 sm:p-8 lg:p-16"><h2 class="text-2xl font-bold text-gray-900 lg:text-3xl">New
            budget</h2>
            <form [formGroup]="budgetForm" (ngSubmit)="onSubmit(budgetForm)" novalidate class="mt-8 space-y-6">
              <div>
                <label for="name" class="mb-2 block text-sm font-medium text-gray-900">Name</label>
                <input type="text"
                       formControlName="name"
                       name="name"
                       id="name"
                       class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-cyan-600 focus:ring-cyan-600 sm:text-sm"
                       placeholder="January">
<!--                <div *ngIf="budgetForm.s"-->
                <div
                  class="flex items-center font-normal text-red-500 text-xs mt-1 ml-1"
                  *ngIf="budgetForm.get('name')!.invalid && (budgetForm.get('name')!.dirty || budgetForm.get('name')!.touched)"
                >
                  Please provide a name.
                </div>
<!--                <div *ngIf="budgetForm.get('name')!.errors?.['required']">Name is required.</div>-->

              </div>
              <button type="submit"
                      class="text-white w-full bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                Create
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
