<div class=" bg-gray-50 ">
  <main>
    <div>
      <div class="pt:mt-0 mx-auto flex flex-col items-center justify-center px-6 pt-8 md:h-screen">
        <div class="w-full rounded-lg bg-white shadow sm:max-w-screen-sm md:mt-0 xl:p-0">
          <div class="space-sy-8 p-6 sm:p-8 lg:p-16">
            <h2 class="text-2xl font-bold text-gray-900 lg:text-3xl">New budget</h2>
            <form [formGroup]="budgetForm" (ngSubmit)="onSubmit(budgetForm)" novalidate class="mt-8 space-y-6">
              <app-form-row>
                <app-form-field label="Name" formControlName="name"/>
                <app-form-field-error
                  message="Please provide a name"
                  [show]="budgetForm.get('name')!.invalid && (budgetForm.get('name')!.dirty || budgetForm.get('name')!.touched)"></app-form-field-error>
              </app-form-row>

              <app-form-row>
                <app-button text="Create" type="submit"/>
              </app-form-row>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
